@font-face {
	font-family: "VTEX Trust";
	src: url("/font/VTEXTrustFull-VF.woff2") format("woff2"), url("/font/VTEXTrustFull-VF.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;700&display=swap");

body {
	background-color: #fff;
	color: #142032;
	margin: 0;
	font-family: VTEX Trust;
	border-radius: 7px;
	font-size: 12px;
}

* {
	font-family: VTEX Trust;
}

h2 {
	margin: 3px auto;
}

.header {
	background: linear-gradient(70deg, rgb(247, 25, 99), rgb(255, 224, 239)) rgb(247, 25, 99);

	height: 3.5em;
	display: flex; /* Use Flexbox */
	justify-content: center; /* Horizontally align items in the center */
	align-items: center; /* Vertically align items in the center */
}

.header h1 {
	margin: 0;
	color: #fafafa;
	font-size: 1.7em;
	font-weight: 100;
}

.message {
	margin: 25px auto 10px;
}

.message h2 {
	background-color: #f8f7fc;
	padding: 5px;
	color: #142032;
	font-size: 1.3em;
}

.message-version {
	margin-top: 20px;
	padding: 0 4px;
}

.popup-container {
	width: 500px;
	max-width: 700px;
	padding: 1em;
}

#store-version-subtext,
#store-salesChannel-subtext,
#store-account-subtext {
	display: none;
	font-size: 0.8em;
	background-color: #5b6e84;
	color: #ffffff;
	border-radius: 7px;
	padding: 5px 10px;
	margin-top: 5px;
}

#pixels-table {
	width: 100%;
	border-collapse: collapse;
	font-family: VTEX Trust;
	background-color: #f8f7fc;
}

#pixels-table th {
	background-color: #5b6e84;
	color: #fff;
	font-weight: bold;
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #e1e4e8;
}

#pixels-table td {
	padding: 12px 15px;
	border-bottom: 1px solid #e1e4e8;
}

#pixels-table tbody tr:last-child td {
	border-bottom: none;
}

#pixels-table td::before {
	content: attr(data-label);
	font-weight: bold;
	display: block;
	color: #586069;
}

#pixels-table td[data-label="Loaded"] {
	text-align: center !important;
}

#pixels-table td:first-child {
	color: #0366d6;
	font-size: 0.9em;
}

.message-warn {
	background: #ffe0ef;
	padding: 4px;
	text-align: left;
	color: #222;
	margin: 0;
}

.warn-2 {
	background: #ffc4dd;
	color: #222;
}

.icon-with-text {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 5px;
	width: 20px;
}

.extension-version {
	display: flex;
	justify-content: flex-end;
}

.extension-version-wrapper {
	background-color: #0366d6;
	padding: 5px 10px;
	border: 1px solid #fff;
}

.extension-version-code {
	color: #fff;
}

a {
	text-decoration: none;
}
/* unvisited link */
a:link {
	color: #ffc4dd;
}

/* visited link */
a:visited {
	color: #ffc4dd;
}

/* mouse over link */
a:hover {
	color: #f71963;
}

/* selected link */
a:active {
	color: #0366d6;
}

#store-salesChannel {
	font-size: 1em;
	background-color: #ffc4dd;
	color: #142032;
	padding: 1px 10px;
	font-weight: bold;
}

#store-account-holder__accoutName {
	font-size: 1em;
	background-color: #ffc4dd;
	color: #142032;
	padding: 1px 10px;
}

.dynamic-text {
	padding: 0 8px;
}

.blinkDot {
	animation: blink 2.3s infinite;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.tab-header {
	display: flex;
	background-color: #f6f8fa;
	border-bottom: 1px solid #e1e4e8;
}

.tabcontent {
	display: none;
}

.hidden-tab {
	display: none;
}

.tablink {
	flex: 1;
	padding: 10px 15px;
	text-align: center;
	border: 1px solid transparent;
	background-color: #f6f8fa;
	color: #24292e;
	transition: 0.3s;
	font-size: 1.2em;
	cursor: pointer;
	outline: none;
	font-family: "Source Code Pro", monospace;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.tablink:hover {
	background-color: #e1e4e8;
	border: 1px solid #f71963;
}
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 5px;
	background-color: #f8f8f8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cookie-header {
	border: 1px solid #c1c1c1;
	border-radius: 7px;
	text-align: center;
	padding: 7px 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

#cookieInput {
	padding: 10px 15px;
	border: none;
	border-radius: 7px;
	outline: none;
	width: 94%;
	height: 115px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	flex-grow: 1;
	font-size: 10px; /* Smaller font size */
	resize: none; /* Allows users to resize the textarea vertically if needed */
	white-space: pre-wrap; /* This will wrap long lines of text */
	word-wrap: break-word; /* This will break words if necessary to wrap lines */
	transition: box-shadow 0.2s ease;
}

#cookieInput:focus {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#fetch-result {
	display: none;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border: 1px dashed #555; /* dashed border for added effect */
	margin: 15px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#submitBtn {
	margin: 15px;
}

.pre-table-header {
	background-color: #ffe0ef;
	padding: 5px;
	color: #142032;
	font-size: 1em;
	margin-bottom: 0;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 1.5em;
}
.modern-table {
	border-collapse: collapse;
	width: 100%;
	font-family: VTEX Trust;
	color: #333;
	background-color: #f9f9f9;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.modern-table tbody {
	display: table-row-group;
	vertical-align: middle;
}

.modern-table tbody tr {
	border-bottom: 1px solid #ddd;
	transition: background-color 0.3s ease;
}

.modern-table tbody tr:hover {
	background-color: #f5f5f5;
}

.modern-table td {
	padding: 10px; /* Adjust padding to your preference */
	vertical-align: middle; /* Center content vertically */
	width: 50%;
}

.modern-table .p-key {
	font-weight: 600;
	background-color: #f2f2f2;
	width: 25%; /* Setting a width helps with alignment. Adjust as needed */
}

.modern-table .p-value {
	font-weight: 400;
}

.container {
	margin-top: 10px;
}

.cards-container,
.sim-msg-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	margin-top: 10px;
}

.sku-quantity-wrap {
	border: 1px dashed #142032;
	font-weight: bold;
	color: #142032;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	width: 50%;
	display: none;
	border-radius: 5px;
	margin: 0 auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
	flex: 1 1 calc(50% - 15px);
	max-width: 70%;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fafafa;
	padding: 10px;
	box-sizing: border-box;
	font-family: "Source Code Pro", monospace;
	border: 1px solid #e5e5e5;
	line-height: 1.7em;
	transition: all 0.3s ease; /* Add a smooth transition */
	backface-visibility: hidden;
}

/* Style for hover state */
.card:hover {
	transform: scale(1.01);
}

/* Style for grayed-out state */
.card.grayed-out {
	filter: grayscale(1);
}

.card-active {
	border: 1px solid #66d9ab;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.card-inactive {
	border: 2px solid #ff6b6b;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	color: #999;
}

.status-true {
	color: green;
	font-weight: bold;
}

.status-false {
	color: red;
	font-weight: bold;
}

.card-inactive .btn {
	background-color: #e5e5e5;
	color: #333;
	pointer-events: none;
	cursor: not-allowed;
}

.warn-msg {
	text-align: center;
	padding: 7px 10px;
	color: #142032;
	border-radius: 7px;
	background-color: #f8f7fc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border: 1px dashed #c1c1c1;
	margin-top: 10px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn {
	background-color: rgb(247, 25, 99);
	border: 1px solid transparent;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	margin: 10px auto;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.3s;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect for the button */
.btn:hover {
	background-color: transparent;
	border: 1px solid #142032;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12);
	transform: translateY(-2px);
	color: #142032;
}

/* Active (when button is pressed) effect */
.btn:active {
	background-color: #ffc4dd;
	border: 1px solid rgb(247, 25, 99);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	transform: translateY(1px);
	color: #142032;
}

#simulation-info-container {
	display: none;
}

#check-errors {
	display: none;
	background-color: #5b6e84;
	color: #fafafa;
	border: 1px solid #c1c1c1;
	border-radius: 7px;
	text-align: center;
	padding: 7px 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
	line-height: 1.5em;
}

/* Add your existing styles here */

/* Style for the error list */
.error-list {
	list-style: none;
	padding-left: 0;
}

/* Style for list items */
.error-list li {
	margin-bottom: 10px;
	display: flex;
	align-items: flex-start;
}

/* Style for the bolded text */
.error-list li .colored-text {
	color: #ffc4dd;
}

/* Style for the link */
.error-list li a {
	color: #007bff;
	text-decoration: none;
}

/* Hover effect for the link */
.error-list li a:hover {
	text-decoration: underline;
}

#check-errors > p {
	font-size: 1.1em;
}

.simulate-input {
	width: 80%; /* Set the input width as needed */
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	margin: 10px auto; /* Center the input vertically */
}

/* Style for the autocomplete dropdown */
.autocomplete-dropdown {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1;
	margin: 0 auto; /* Center the dropdown horizontally */
}
.autocomplete-dropdown .autocomplete-option {
	padding: 8px;
	cursor: pointer;
	transition: background-color 0.2s;
}
.autocomplete-dropdown .autocomplete-option:hover {
	background-color: #f0f0f0;
}

label {
	display: block;
	margin-bottom: -10px;
	font-weight: bold;
}

.simulate-title {
	font-size: 1em;
	background-color: #5b6e84;
	font-weight: normal;
	color: #fff;
	text-align: center;
	border-radius: 7px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#warn-unavailable-tip {
	display: none;
}

.unavailable-sc-tip-data {
	font-size: 1em;
	background-color: #ffc4dd;
	color: #142032;
	padding: 1px 5px;
	border-radius: 7px;
}
